@font-face {
  font-family: Chronicle-Black;
  src: url(../fonts/ChronicleDisplayBlack.woff);
  font-weight: 900;
}
@font-face {
  font-family: Chronicle-LightItalic;
  src: url(../fonts/ChronicleDisplayLight_Italic.woff);
  font-weight: 300;
}
@font-face {
  font-family: Chronicle-Roman;
  src: url(../fonts/ChronicleDisplayRoman.woff);
  font-weight: 700;
}
@font-face {
  font-family: Chronicle-SemiBold;
  src: url(../fonts/ChronicleDisplaySemibold.woff);
  font-weight: 600;
}
